Repository juspay/shelly, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juspay/shelly-maintainers, @juspay/shelly-core-team, @juspay/shelly-organize-team, @juspay/shelly-memory-team, @juspay/shelly-cli-team, @juspay/shelly-ai-team, @juspay/shelly-shell-team, @juspay/docs-team, @juspay/devops-team, @juspay/community-team, @juspay/product-team

.github/CODEOWNERS:

# Global owners
* @juspay/shelly-maintainers

# Core CLI and Error Analysis
/src/main.js @juspay/shelly-core-team
/src/services/ @juspay/shelly-core-team
/src/utils/ @juspay/shelly-core-team

# Repository Organization Features
/src/shelly/commands/organize.js @juspay/shelly-organize-team
/src/shelly/templates/ @juspay/shelly-organize-team

# Memory Bank System
/src/shelly/commands/memory.js @juspay/shelly-memory-team
/src/shelly/services/memoryBankService.js @juspay/shelly-memory-team
/src/shelly/utils/aiContentGenerator.js @juspay/shelly-memory-team
/memory-bank/ @juspay/shelly-memory-team

# CLI Architecture
/src/shelly/cli.js @juspay/shelly-cli-team

# AI Integration
/src/services/analysisService.js @juspay/shelly-ai-team
/src/shelly/utils/aiContentGenerator.js @juspay/shelly-ai-team

# Shell Integration
/src/services/shellService.js @juspay/shelly-shell-team
/src/services/historyService.js @juspay/shelly-shell-team

# Documentation
*.md @juspay/docs-team
/docs/ @juspay/docs-team
/memory-bank/ @juspay/docs-team @juspay/shelly-memory-team

# GitHub workflows and templates
/.github/ @juspay/devops-team
/.github/workflows/ @juspay/devops-team
/.github/ISSUE_TEMPLATE/ @juspay/community-team
/.github/pull_request_template.md @juspay/community-team

# Configuration files
package.json @juspay/shelly-maintainers
.eslintrc.* @juspay/devops-team
.prettierrc @juspay/devops-team
commitlint.config.js @juspay/devops-team
.releaserc.json @juspay/devops-team

# Templates and scaffolding
/src/shelly/templates/ @juspay/shelly-organize-team @juspay/docs-team

# Test files
/test/ @juspay/shelly-maintainers
**/*.test.js @juspay/shelly-maintainers

# Memory Bank specific files
/memory-bank/project/ @juspay/product-team @juspay/shelly-memory-team
/memory-bank/technical/ @juspay/shelly-core-team @juspay/shelly-memory-team
/memory-bank/current/ @juspay/shelly-maintainers @juspay/shelly-memory-team

# Critical files requiring multiple approvals
/.clinerules @juspay/shelly-maintainers @juspay/shelly-memory-team
/CHANGELOG.md @juspay/shelly-maintainers @juspay/docs-team

feat: update provider settings and fix organize command
  package.json
  src/services/analysisService.js
  src/shelly/commands/organize.js
Owners: @juspay/shelly-maintainers, @juspay/shelly-ai-team, @juspay/shelly-organize-team

fix: resolve matrix.shell validation errors in release workflow
  .github/workflows/release.yml
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/workflows/release.yml
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
Owners: @juspay/devops-team

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

Revert "fix(ci): resolve matrix.shell validation errors in release workflow"
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

fix(ci): resolve matrix.shell validation errors in release workflow
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .releaserc.json
  src/shelly/commands/githubSetup.js
  src/shelly/services/githubService.js
Owners: @juspay/devops-team, @juspay/shelly-maintainers

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @juspay/shelly-maintainers, @juspay/docs-team

Notes added by 'git notes add'
  fc44444e1516e0d73dd3a8279d8a2bc30d862158
Owners: @juspay/shelly-maintainers

feat(migration): migrate entire codebase to TypeScript with enhanced build system
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  CHANGELOG.md
  commitlint.config.ts
  memory-bank/current/activeContext.md
  memory-bank/current/progress.md
  memory-bank/technical/techContext.md
  package-lock.json
  package.json
  scripts/copy-templates.js
  src/main.ts
  src/rules/rerun_interrupted.js
  src/rules/rerun_interrupted.ts
  src/services/analysisService.ts
  src/services/commandService.ts
  src/services/fileService.ts
  src/services/historyService.ts
  src/services/ruleService.ts
  src/services/shellService.ts
  src/services/uiService.ts
  src/shelly/cli.ts
  src/shelly/commands/githubSetup.ts
  src/shelly/commands/memory.ts
  src/shelly/commands/organize.ts
  src/shelly/services/githubService.ts
  src/shelly/services/memoryBankService.ts
  src/shelly/utils/aiContentGenerator.ts
  src/utils/commandFinder.ts
  tsconfig.json
Owners: @juspay/devops-team, @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-memory-team, @juspay/shelly-core-team

feat(migration): migrate entire codebase to TypeScript with enhanced build system
  .eslintrc.cjs
  .github/dependency-review-config.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .npmrc
  CHANGELOG.md
  README.md
  commitlint.config.ts
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  memory-bank/current/activeContext.md
  memory-bank/current/progress.md
  memory-bank/technical/techContext.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/copy-templates.js
  src/main.ts
  src/rules/rerun_interrupted.js
  src/rules/rerun_interrupted.ts
  src/services/analysisService.ts
  src/services/commandService.js
  src/services/commandService.ts
  src/services/fileService.ts
  src/services/historyService.ts
  src/services/ruleService.ts
  src/services/shellService.ts
  src/services/uiService.ts
  src/shelly/cli.ts
  src/shelly/commands/githubSetup.ts
  src/shelly/commands/memory.ts
  src/shelly/commands/organize.ts
  src/shelly/services/githubService.ts
  src/shelly/services/memoryBankService.ts
  src/shelly/utils/aiContentGenerator.ts
  src/utils/commandFinder.ts
  tsconfig.json
Owners: @juspay/devops-team, @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-memory-team, @juspay/shelly-core-team

feat(migration): migrate entire codebase to TypeScript with enhanced build system
  .eslintrc.cjs
  .github/dependency-review-config.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .npmrc
  CHANGELOG.md
  README.md
  commitlint.config.ts
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  memory-bank/current/activeContext.md
  memory-bank/current/progress.md
  memory-bank/technical/techContext.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/copy-templates.js
  src/main.ts
  src/rules/rerun_interrupted.js
  src/rules/rerun_interrupted.ts
  src/services/analysisService.ts
  src/services/commandService.js
  src/services/commandService.ts
  src/services/fileService.ts
  src/services/historyService.ts
  src/services/ruleService.ts
  src/services/shellService.ts
  src/services/uiService.ts
  src/shelly/cli.ts
  src/shelly/commands/githubSetup.ts
  src/shelly/commands/memory.ts
  src/shelly/commands/organize.ts
  src/shelly/services/githubService.ts
  src/shelly/services/memoryBankService.ts
  src/shelly/utils/aiContentGenerator.ts
  src/utils/commandFinder.ts
  tsconfig.json
Owners: @juspay/devops-team, @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-memory-team, @juspay/shelly-core-team

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @juspay/shelly-maintainers, @juspay/docs-team

Notes added by 'git notes add'
  c1ced10678f805fd738bd33cb62752b0ba18c0e6
Owners: @juspay/shelly-maintainers

feat(organize): add comprehensive modern development file templates
  package-lock.json
  src/shelly/commands/organize.ts
  src/shelly/templates/.changeset/README.md.template
  src/shelly/templates/.changeset/config.json.template
  src/shelly/templates/.env.test.template
  src/shelly/templates/.gitleaksrc.json.template
  src/shelly/templates/.husky/README.md.template
  src/shelly/templates/.husky/commit-msg.template
  src/shelly/templates/.husky/pre-commit.template
  src/shelly/templates/.mcp-servers.example.json.template
  src/shelly/templates/.prettierignore.template
  src/shelly/templates/biome.json.template
  src/shelly/templates/config/README.md.template
  src/shelly/templates/config/default.json.template
  src/shelly/templates/eslint.config.js.template
  src/shelly/templates/examples/README.md.template
  src/shelly/templates/examples/basic-example.js.template
  src/shelly/templates/requirements.txt.template
  src/shelly/templates/svelte.config.js.template
  src/shelly/templates/todos/ROADMAP.md.template
  src/shelly/templates/tools/README.md.template
  src/shelly/templates/tsconfig.cli.json.template
  src/shelly/templates/vite.config.ts.template
  src/shelly/templates/vitest.config.ts.template
Owners: @juspay/shelly-maintainers, @juspay/shelly-organize-team, @juspay/docs-team

fix(release): resolve formatting, ESM compatibility, error handling, and pnpm detection bugs
  CHANGELOG.md
  CLAUDE.md
  src/services/analysisService.ts
  src/shelly/commands/organize.ts
  src/shelly/services/githubService.ts
  src/shelly/utils/aiContentGenerator.ts
Owners: @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-core-team

fix(release): resolve formatting, ESM compatibility, error handling, and pnpm detection bugs
  CHANGELOG.md
  CLAUDE.md
  src/services/analysisService.ts
  src/shelly/commands/organize.ts
  src/shelly/services/githubService.ts
  src/shelly/utils/aiContentGenerator.ts
Owners: @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-core-team

Notes added by 'git notes add'
  971b74fda8c2c93836b481f9eb5f54e340d7e3ca
Owners: @juspay/shelly-maintainers

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @juspay/shelly-maintainers, @juspay/docs-team

fix(ai): resolve Vertex AI permission denied with multi-provider support
  CHANGELOG.md
  README.md
  memory-bank/current/activeContext.md
  memory-bank/current/progress.md
  memory-bank/technical/techContext.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/fix-node-pty-permissions.js
  src/main.ts
  src/services/aiConfigService.ts
  src/services/analysisService.ts
  src/services/commandService.ts
  src/shelly/cli.ts
  src/shelly/commands/organize.ts
  src/shelly/services/memoryBankService.ts
  src/shelly/utils/aiContentGenerator.ts
Owners: @juspay/shelly-maintainers, @juspay/docs-team, @juspay/shelly-memory-team, @juspay/shelly-core-team

feat(juspay): add BitBucket, Jenkins, and package management commands
  src/shelly/cli.ts
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/jenkinsScaffold.ts
  src/shelly/commands/organizeJuspay.ts
  src/shelly/commands/packages.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/services/jenkinsService.ts
  src/shelly/services/packageDetector.ts
  src/shelly/templates/.eslintrc.cjs.template
  src/shelly/templates/.prettierrc.template
  src/shelly/templates/.stylelintrc.template
  src/shelly/templates/Jenkinsfile.template
  src/shelly/templates/commit-msg.sh.template
  src/shelly/templates/knip.config.ts.template
  src/shelly/templates/pre-push.sh.template
  src/shelly/templates/prepare-commit-msg.sh.template
  src/shelly/templates/setup.js.template
  src/shelly/templates/workflow.js.template
  src/shelly/templates/yama.config.yaml.template
Owners: @juspay/shelly-maintainers, @juspay/shelly-organize-team, @juspay/docs-team

feat(tooling): add Breeze AI & MCP integration with automatic setup
  docs/BITBUCKET_INTEGRATION.md
  docs/JENKINSFILE_TEMPLATE.md
  memory-bank/current/activeContext.md
  package-lock.json
  package.json
  scripts/quality-metrics.cjs
  src/main.ts
  src/shelly/cli.ts
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/organize.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/services/breezeDetector.ts
  src/shelly/services/jenkinsfileGenerator.ts
  src/shelly/services/packageDetector.ts
  src/shelly/templates/.env.breeze.template
  src/shelly/templates/Jenkinsfile.template
  src/shelly/templates/examplejenkinsfile.template
  src/shelly/templates/pr-police.js.template
  src/shelly/templates/pr-scribe.js.template
  test/test-priority.sh
  test/test-shelly.sh
Owners: @juspay/docs-team, @juspay/shelly-maintainers, @juspay/shelly-memory-team, @juspay/shelly-organize-team

feat(juspay): add BitBucket, Jenkins, and package management commands
  src/shelly/cli.ts
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/jenkinsScaffold.ts
  src/shelly/commands/organizeJuspay.ts
  src/shelly/commands/packages.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/services/jenkinsService.ts
  src/shelly/services/packageDetector.ts
  src/shelly/templates/.eslintrc.cjs.template
  src/shelly/templates/.prettierrc.template
  src/shelly/templates/.stylelintrc.template
  src/shelly/templates/Jenkinsfile.template
  src/shelly/templates/commit-msg.sh.template
  src/shelly/templates/knip.config.ts.template
  src/shelly/templates/pre-push.sh.template
  src/shelly/templates/prepare-commit-msg.sh.template
  src/shelly/templates/setup.js.template
  src/shelly/templates/workflow.js.template
  src/shelly/templates/yama.config.yaml.template
Owners: @juspay/shelly-maintainers, @juspay/shelly-organize-team, @juspay/docs-team

fix(ci): resolve release pipeline failures due to formatting and critical vulnerability
  .ai/workflows/README.md
  .ai/workflows/data-analysis.json
  .changeset/README.md
  .claude/commands/commit.md
  .claude/commands/ultra-think.md
  .claude/commands/update-docs.md
  .claude/comprehensive-gap-analysis.md
  .claude/neurolink-update-plan.md
  .claude/scaffolding-gap-analysis.md
  .eslintrc.js
  .github/ISSUE_TEMPLATE/documentation.md
  .github/workflows/docs-deploy.yml
  .github/workflows/single-commit-enforcement.yml
  .gitleaksrc.json
  .husky/README.md
  .mcp-servers.json
  SECURITY.md
  commitlint.config.js
  docs/development/architecture.md
  docs/features/shell-integration.md
  examples/README.md
  examples/basic-example.js
  package-lock.json
  scripts/build-validations.cjs
  scripts/commit-validation.cjs
  scripts/env-validation.cjs
  scripts/format-staged.cjs
  scripts/mcp-test.cjs
  scripts/organize-project.cjs
  scripts/postinstall.cjs
  scripts/quality-metrics.cjs
  scripts/security-check.cjs
  src/commands/command.example.ts
  src/providers/provider.example.ts
  src/services/service.example.ts
  src/shelly/cli.ts
  src/shelly/commands/organize.ts
  todos/ROADMAP.md
  tools/README.md
  typedoc.json
Owners: @juspay/docs-team, @juspay/shelly-maintainers, @juspay/devops-team, @juspay/community-team, @juspay/shelly-core-team

feat(tooling): add Breeze AI & MCP integration with automatic setup
  docs/BITBUCKET_INTEGRATION.md
  docs/JENKINSFILE_TEMPLATE.md
  memory-bank/current/activeContext.md
  package-lock.json
  package.json
  scripts/quality-metrics.cjs
  src/main.ts
  src/shelly/cli.ts
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/organize.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/services/breezeDetector.ts
  src/shelly/services/jenkinsfileGenerator.ts
  src/shelly/services/packageDetector.ts
  src/shelly/templates/.env.breeze.template
  src/shelly/templates/Jenkinsfile.template
  src/shelly/templates/examplejenkinsfile.template
  src/shelly/templates/pr-police.js.template
  src/shelly/templates/pr-scribe.js.template
  test/test-priority.sh
  test/test-shelly.sh
Owners: @juspay/docs-team, @juspay/shelly-maintainers, @juspay/shelly-memory-team, @juspay/shelly-organize-team

feat(bitbucket): add Data Center support, Jenkins CI setup, and git hook templates
  scripts/security-check.cjs
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/organize.ts
  src/shelly/services/bitbucketDCService.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/templates/commitlint.config.cjs.template
  src/shelly/templates/scripts/git-hooks/commit-msg.sh.template
  src/shelly/templates/scripts/git-hooks/pre-commit.sh.template
  src/shelly/templates/scripts/git-hooks/pre-push.sh.template
  src/shelly/templates/scripts/git-hooks/prepare-commit-msg.sh.template
  src/shelly/templates/scripts/workflow/deploy.ts.template
  test/test-priority.sh
  test/test-shelly.sh
Owners: @juspay/shelly-maintainers, @juspay/shelly-organize-team, @juspay/docs-team

feat(bitbucket): add Data Center support, Jenkins CI setup, and git hook templates
  scripts/security-check.cjs
  src/shelly/commands/bitbucketSetup.ts
  src/shelly/commands/organize.ts
  src/shelly/services/bitbucketDCService.ts
  src/shelly/services/bitbucketService.ts
  src/shelly/templates/commitlint.config.cjs.template
  src/shelly/templates/scripts/git-hooks/commit-msg.sh.template
  src/shelly/templates/scripts/git-hooks/pre-commit.sh.template
  src/shelly/templates/scripts/git-hooks/pre-push.sh.template
  src/shelly/templates/scripts/git-hooks/prepare-commit-msg.sh.template
  src/shelly/templates/scripts/workflow/deploy.ts.template
  test/test-priority.sh
  test/test-shelly.sh
Owners: @juspay/shelly-maintainers, @juspay/shelly-organize-team, @juspay/docs-team

chore(cleanup): remove IDE analysis docs, unused test scripts, and format codebase
  .ai/workflows/README.md
  .ai/workflows/data-analysis.json
  .changeset/README.md
  .claude/commands/commit.md
  .claude/commands/ultra-think.md
  .claude/commands/update-docs.md
  .claude/comprehensive-gap-analysis.md
  .claude/neurolink-update-plan.md
  .claude/scaffolding-gap-analysis.md
  .eslintrc.js
  .github/ISSUE_TEMPLATE/documentation.md
  .github/workflows/docs-deploy.yml
  .github/workflows/single-commit-enforcement.yml
  .gitleaksrc.json
  .husky/README.md
  .mcp-servers.json
  SECURITY.md
  commitlint.config.js
  docs/development/architecture.md
  docs/features/shell-integration.md
  examples/README.md
  examples/basic-example.js
  scripts/build-validations.cjs
  scripts/commit-validation.cjs
  scripts/env-validation.cjs
  scripts/format-staged.cjs
  scripts/mcp-test.cjs
  scripts/organize-project.cjs
  scripts/postinstall.cjs
  scripts/quality-metrics.cjs
  scripts/security-check.cjs
  src/commands/command.example.ts
  src/providers/provider.example.ts
  src/services/service.example.ts
  todos/ROADMAP.md
  tools/README.md
  typedoc.json
Owners: @juspay/docs-team, @juspay/shelly-maintainers, @juspay/devops-team, @juspay/community-team, @juspay/shelly-core-team

chore(cleanup): remove IDE analysis docs, unused test scripts, and format codebase
  .ai/workflows/README.md
  .ai/workflows/data-analysis.json
  .changeset/README.md
  .claude/commands/commit.md
  .claude/commands/ultra-think.md
  .claude/commands/update-docs.md
  .claude/comprehensive-gap-analysis.md
  .claude/neurolink-update-plan.md
  .claude/scaffolding-gap-analysis.md
  .eslintrc.js
  .github/ISSUE_TEMPLATE/documentation.md
  .github/workflows/docs-deploy.yml
  .github/workflows/single-commit-enforcement.yml
  .gitleaksrc.json
  .husky/README.md
  .mcp-servers.json
  SECURITY.md
  commitlint.config.js
  docs/development/architecture.md
  docs/features/shell-integration.md
  examples/README.md
  examples/basic-example.js
  scripts/build-validations.cjs
  scripts/commit-validation.cjs
  scripts/env-validation.cjs
  scripts/format-staged.cjs
  scripts/mcp-test.cjs
  scripts/organize-project.cjs
  scripts/postinstall.cjs
  scripts/quality-metrics.cjs
  scripts/security-check.cjs
  src/services/service.example.ts
  todos/ROADMAP.md
  tools/README.md
  typedoc.json
Owners: @juspay/docs-team, @juspay/shelly-maintainers, @juspay/devops-team, @juspay/community-team, @juspay/shelly-core-team

style(format): apply Prettier formatting to security-check and bitbucketService
  scripts/security-check.cjs
  src/shelly/services/bitbucketService.ts
Owners: @juspay/shelly-maintainers
